:root {
    --background-color: #E6E6FA; /*lavender*/
    --text-color: #191970; /*midnight blue*/
    --emphasis-color: #000000;
    --project-color: #614a72;
    --heading-font-size: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

/* heading and navigation section start */

header {
    background-color: var(--emphasis-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #ffffff;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: underline;
    color: #ffffff;
}

/* header and navigation section end */

/* hero section start */

.hero {
    background-color: var(--project-color);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome {
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    left: -50px;
}

.hero img {
    height: 200px;
}

.hero-text {
    width: 100%;
    text-align: right;
    flex: 1;
    padding: 10px 0px 0px 0px;
}

.hero-text h2 {
    font-style: italic;
    font-size: 20px;
    color: var(--text-color);
}

/* hero section end */

/* common styling start */

.section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--text-color);
    margin: 3.5%;
}

.section-head {
    text-align: right;
    padding: 0px 50px 0px 50px;
}

.section-head h2 {
    font-size: var(--heading-font-size);
}

/* common styling end */

/* about me section start */

.about-me-text {
    width: 70%;
}

.about-me-text p {
    font-size: 18px;
}

/* about me section end */

/* my work section start */

.my-work-wrapper {
    display: flex;
    width: 70%;
    justify-content: flex-start;
}

.my-work-container {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.work-item {
    padding: 0;
    border: 3px solid var(--emphasis-color);
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work-item h3 {
    font-size: 20px;
    position: relative;
    z-index: 9000;
}

.work-item p {
    font-size: 16px;
    position: relative;
    z-index: 9000;
}

.work-item.run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.run-buddy {
    background-image: url("../images/Run_Buddy_Snip.png");
    min-height: 200px;
    background-size: cover;
    position: relative;
    z-index: 8000;
    opacity: 0.75;
}

.work-item.project-1 {
    background-color: var(--project-color);
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.work-item.project-2 {
    background-color: var(--project-color);
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.work-item.project-3 {
    background-color: var(--project-color);
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.work-item.something-cool {
    background-color: var(--project-color);
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.work-item.something-cooler {
    background-color: var(--project-color);
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

/* my work section end */

/* contact me section start */

.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color);
    margin: 3.5%;
}

.contact-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.contact-wrapper a {
    font-size: 24px;
}

.contact-wrapper p {
    font-size: 24px;
}

/* contact me section end */

/* MEDIA QUERY FOR IPAD SCREENS AND SMALLER */
@media screen and (max-width: 768px) {

.section-head {
    padding: 0px 20px;
}
    
.contact-wrapper {
    display: block;
    justify-content: center;
    padding: 0px 0px;
}