:root {
    --background-color: #E6E6FA; /*lavender*/
    --text-color: #191970; /*midnight blue*/
    --emphasis-color: #000000;
    --project-color: #614a72;
    --heading-font-size: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

/* heading and navigation section start */

header {
    background-color: var(--emphasis-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #ffffff;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: underline;
    color: #ffffff;
}

/* header and navigation section end */

/* hero section start */

.hero {
    background-color: var(--project-color);
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome {
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    left: -50px;
}

.hero img {
    height: 200px;
}

.hero-text {
    width: 100%;
    text-align: right;
    flex: 1;
    padding: 10px 0px 0px 0px;
}

.hero-text h2 {
    font-style: italic;
    font-size: 20px;
    color: var(--text-color);
}

/* hero section end */

/* common styling start */

.section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: var(--text-color);
    margin: 3.5%;
}

.section-head {
    text-align: right;
    padding: 0px 50px 0px 50px;
}

.section-head h2 {
    font-size: var(--heading-font-size);
}

/* common styling end */

/* about me section start */

.about-me-text {
    width: 70%;
}

.about-me-text p {
    font-size: 18px;
}

/* about me section end */

/* my work section start */

.my-work-wrapper {
    display: flex;
    width: 70%;
    justify-content: flex-start;
}

.my-work-container {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* overflow: hidden; */
}

.work-item {
    padding: 0;
    border: 3px solid var(--emphasis-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

.work-item div {
    width: 30%;
    display: block;
    background-color: var(--background-color);
    color: black;
    padding: 5px;
    z-index: 9000;
}

.work-item h3 {
    font-size: 24px;
    padding: 2px 2px 0 2px;
    position: relative;
}

.work-item p {
    font-size: 16px;
    position: relative;
}

.work-item.run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.run-buddy {
    background-image: url("../images/Run_Buddy_Snip.png");
    background-size: cover;
    position: relative;
    opacity: 1;
}

.run-buddy::after {
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 8000;
}

.run-buddy:hover::after {
    opacity: 0;
}

.work-item.project-1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.project-1 {
    background-color: var(--project-color);
    background-size: cover;
    position: relative;
    opacity: 1;
}

.project-1::after {
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 8000;
}

.project-1:hover::after {
    opacity: 0;
}

.work-item.project-2 {
    background-color: var(--project-color);
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.project-2 {
    background-color: var(--project-color);
    background-size: cover;
    position: relative;
    opacity: 1;
}

.project-2::after {
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 8000;
}

.project-2:hover::after {
    opacity: 0;
}

.work-item.project-3 {
    background-color: var(--project-color);
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.project-3 {
    background-color: var(--project-color);
    background-size: cover;
    position: relative;
    opacity: 1;
}

.project-3::after {
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 8000;
}

.project-3:hover::after {
    opacity: 0;
}

.work-item.something-cool {
    background-color: var(--project-color);
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.something-cool {
    background-color: var(--project-color);
    background-size: cover;
    position: relative;
    opacity: 1;
}

.something-cool::after {
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 8000;
}

.something-cool:hover::after {
    opacity: 0;
}

.work-item.something-cooler {
    background-color: var(--project-color);
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.something-cooler {
    background-color: var(--project-color);
    background-size: cover;
    position: relative;
    opacity: 1;
}

.something-cooler:after {
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 8000;
}

.something-cooler:hover::after {
    opacity: 0;
}

/* my work section end */

/* contact me section start */

.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color);
    margin: 3.5%;
}

.contact-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.contact-wrapper a {
    font-size: 24px;
}

.contact-wrapper p {
    font-size: 24px;
}

/* contact me section end */

/* MEDIA QUERY FOR IPAD SCREENS AND SMALLER */
@media screen and (max-width: 768px) {

    /* screen is large enough that majority of format still looks aesthetically pleasing */

    .section-head {
        padding: 0px 20px;
    }
        
    .contact-wrapper {
        display: block;
        justify-content: center;
        padding: 0px 0px;
    }

}

/* MEDIA QUERY FOR IPHONE-X SCREENS AND SMALLER */
@media screen and (max-width: 375px) {

    /* arrange all formatting to be centered */

    /* header and nav */

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
        padding: 15px;
    }

    .hero-text {
        text-align: center;
        padding: 0 0 10px 0;
    }

    /* common style */
    
    .section {
        display: block;
        justify-content: center;
        margin: 3.5%;
    }
    
    .section-head {
        text-align: center;
        padding: 10px 0px 20px 0px;
        text-decoration: underline;
    }

    /* about me */

    .about-me-text {
        width: 100%;
    }

    /* my work */
    
    .my-work-wrapper {
        width: 100%;
    }

    .my-work-container {
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .work-item.run-buddy {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .work-item.project-1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .work-item.project-2 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    .work-item.project-3 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    
    .work-item.something-cool {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    
    .work-item.something-cooler {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    
    .run-buddy {
        min-height: 200px;
    }

    /* contacts */

    .contacts {
        display: block;
        justify-content: center;
    }
    
    .contact-wrapper {
        display: block;
        justify-content: center;
        padding: 0px 0px;
    }

}